<ul id="slide-out" class="sidenav sidenav-fixed">
  <li><%= link_to  "Home", root_path %></li>
  <li><%= link_to  "Institutions", institutions_path %></li>
  <li><a href="#!">Foo</a></li>
  <li><a href="#!">Bar</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>